# Python/Django general
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.swp

# Environments
env/
venv/
.env
.env.*       # protect local environment files

# Django
*.log
local_settings.py
db.sqlite3

# Static / media uploads
uploaded_docs/
media/
chroma_db/
chroma-data/
document-data/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Docker
*.dockerignore
docker-compose.override.yml

# PyInstaller
dist/
build/

# Virtual environment created by Poetry/other
.python-version
